USE Com2900G06
GO
--set nocount on
--use master
--Importar sucursales
CREATE OR ALTER PROCEDURE dbSucursal.CargaInformacionComplementariaSucursal
	@rutaArchivo VARCHAR(max)
AS
BEGIN
	BEGIN TRY
		set nocount on
		DROP TABLE if exists #sucursalTemp;
		CREATE TABLE #sucursalTemp(
		    IDSucursal INT IDENTITY(1,1) PRIMARY KEY,
			direccion VARCHAR(100),
			numTelefono CHAR(9),
			ciudad VARCHAR(9),
			sucursal VARCHAR(20),
			horario char(45)
		);
		DECLARE @sql NVARCHAR(MAX) = '
			INSERT INTO #sucursalTemp(ciudad,sucursal,direccion,horario,numTelefono)
			SELECT *
			FROM OPENROWSET(
				''Microsoft.ACE.OLEDB.12.0'',
				''Excel 12.0 Xml;Database=' + @rutaArchivo + '\Informacion_complementaria.xlsx;HDR=NO;IMEX=1'',
				''SELECT * FROM [sucursal$B3:F5]''
			);'
		EXEC sp_executesql @sql;
	END TRY
	BEGIN CATCH
		DECLARE @error NVARCHAR(MAX) = 'Ocurrió un error al importar el archivo ' + @rutaArchivo + '\Informacion_complementaria.xlsx. Cierre el archivo o actualice la ruta en el Query 00, dbVenta.RutaImportacion().'
		raiserror(@error, 16, 1);
	END CATCH
	------------------------------------------------
	set nocount OFF
	INSERT INTO dbSucursal.Sucursal(direccion,numTelefono,ciudad,sucursal,estado)
	SELECT direccion,numTelefono,ciudad,sucursal,1
	FROM #sucursalTemp t
	WHERE NOT EXISTS(
		SELECT 1
		FROM dbSucursal.Sucursal s
		WHERE s.sucursal=t.sucursal
	)
	------------------------------------------------
	--SELECT * FROM #sucursalTemp;
	DROP TABLE #sucursalTemp;
END
go
--Importar empleados
CREATE OR ALTER PROCEDURE dbSucursal.CargaInformacionComplementariaEmpleados
	@rutaArchivo VARCHAR(max)
AS
BEGIN
	BEGIN TRY
		set nocount on
		DROP TABLE if exists #empleadoTemp;
		CREATE TABLE #empleadoTemp (
		    Legajo INT PRIMARY KEY,
			dni INT UNIQUE,
			nombre VARCHAR(40),
			apellido VARCHAR(20),
			emailEmpresa VARCHAR(100),
			emailPersonal VARCHAR(100),
			direccion VARCHAR(100),
			cargo CHAR(22),
			turno CHAR(16),
			CUIL VARCHAR(13),
			sucursal VARCHAR(20)	--luego para mandarla a la tabla en la db tenemos que hacer un join con sucursal y mandar el idSucursal como fk
			--FKSucursal INT NOT NULL REFERENCES dbSucursal.Sucursal(IDSucursal)
		);
		DECLARE @sql NVARCHAR(MAX) = '
			INSERT INTO #empleadoTemp (Legajo,nombre,apellido,dni,direccion,emailPersonal,emailEmpresa,CUIL,cargo,sucursal,turno)
			SELECT *
			FROM OPENROWSET(
				''Microsoft.ACE.OLEDB.12.0'',
				''Excel 12.0 Xml;Database=' + @rutaArchivo + '\Informacion_complementaria.xlsx;HDR=NO;IMEX=1'',
				''SELECT * FROM [Empleados$A3:K17]''
			);'
		EXEC sp_executesql @sql;
	END TRY
	BEGIN CATCH
		DECLARE @error NVARCHAR(MAX) = 'Ocurrió un error al importar el archivo ' + @rutaArchivo + '\Informacion_complementaria.xlsx. Cierre el archivo o actualice la ruta en el Query 00, dbVenta.RutaImportacion().'
		raiserror(@error, 16, 1);
	END CATCH

	UPDATE #empleadoTemp
	SET emailEmpresa= REPLACE(emailEmpresa,' ','')

	UPDATE #empleadoTemp
	SET emailPersonal= REPLACE(emailPersonal,' ','')

	------------------------------------------------
	set nocount off
	INSERT INTO dbSucursal.Empleado(Legajo,dni,nombre,apellido,emailEmpresa,emailPersonal,direccion,cargo,turno,FKSucursal,estado)
	SELECT 
		t.Legajo,
		t.dni,
		t.nombre,
		t.apellido,
		t.emailEmpresa,
		t.emailPersonal,
		t.direccion,
		t.cargo,
		t.turno,
		s.IDSucursal,
		1
	FROM #empleadoTemp t
	JOIN dbSucursal.Sucursal s
		ON t.sucursal=s.sucursal
	WHERE NOT EXISTS(
		SELECT 1
		FROM dbSucursal.Empleado e
		WHERE e.Legajo=t.Legajo
	)
	------------------------------------------------
	--SELECT * FROM #empleadoTemp;
	DROP TABLE #empleadoTemp;

END
go
--Importar clasificacion de productos
CREATE OR ALTER PROCEDURE dbProducto.CargaInformacionComplementariaClasificacionProductos
	@rutaArchivo VARCHAR(max)
AS
BEGIN
	BEGIN TRY
		set nocount on
		DROP TABLE if exists #clasificacionProductosTemp;
		CREATE TABLE #clasificacionProductosTemp (
		    id INT IDENTITY(1,1) PRIMARY KEY, 
		    lineaDeProducto VARCHAR(30),
			categoria VARCHAR(50)
		);
		DECLARE @sql NVARCHAR(MAX) = '
			INSERT INTO #clasificacionProductosTemp (lineaDeProducto,categoria)
			SELECT *
			FROM OPENROWSET(
				''Microsoft.ACE.OLEDB.12.0'',
				''Excel 12.0 Xml;Database=' + @rutaArchivo + '\Informacion_complementaria.xlsx;HDR=NO;IMEX=1'',
				''SELECT * FROM [Clasificacion productos$B2:C149]''
			);'
		EXEC sp_executesql @sql;
	END TRY
	BEGIN CATCH
		DECLARE @error NVARCHAR(MAX) = 'Ocurrió un error al importar el archivo ' + @rutaArchivo + '\Informacion_complementaria.xlsx. Cierre el archivo o actualice la ruta en el Query 00, dbVenta.RutaImportacion().'
		raiserror(@error, 16, 1);
	END CATCH
	------------------------------------------------
	set nocount off
	INSERT INTO dbProducto.LineaDeProducto(nombre,estado)
	SELECT DISTINCT lineaDeProducto,1
	FROM #clasificacionProductosTemp t
	WHERE NOT EXISTS(
		SELECT 1
		FROM dbProducto.LineaDeProducto l
		WHERE l.nombre=t.lineaDeProducto
	)
	INSERT INTO dbProducto.Categoria(nombre,FKLineaDeProducto,estado)
	SELECT 
		t.categoria,
		l.IDLineaDeProducto,
		1
	FROM #clasificacionProductosTemp t
	JOIN dbProducto.LineaDeProducto l
		ON t.lineaDeProducto=l.nombre
	WHERE NOT EXISTS(
		SELECT 1
		FROM dbProducto.Categoria c
		WHERE c.nombre=t.categoria
	)
	------------------------------------------------
	--SELECT * FROM #clasificacionProductosTemp;
	DROP TABLE #clasificacionProductosTemp;
END
go
--Importar metodos de pago
CREATE OR ALTER PROCEDURE dbVenta.CargaInformacionComplementariaMetodosDePago
	@rutaArchivo VARCHAR(max)
AS
BEGIN
	BEGIN TRY
		set nocount on
		DROP TABLE if exists #metodoDePagoTemp;
		CREATE TABLE #metodoDePagoTemp (
		    IDMetodoDePago INT IDENTITY (1,1) PRIMARY KEY,
			nombreENG VARCHAR(11),
			nombreESP VARCHAR(25)
		);
		DECLARE @sql NVARCHAR(MAX) = '
			INSERT INTO #metodoDePagoTemp (nombreENG,nombreESP)
			SELECT *
			FROM OPENROWSET(
				''Microsoft.ACE.OLEDB.12.0'',
				''Excel 12.0 Xml;Database=' + @rutaArchivo + '\Informacion_complementaria.xlsx;HDR=NO;IMEX=1'',
				''SELECT * FROM [medios de pago$B3:C5]''
			);'

		EXEC sp_executesql @sql;

	END TRY
	BEGIN CATCH
		DECLARE @error NVARCHAR(MAX) = 'Ocurrió un error al importar el archivo ' + @rutaArchivo + '\Informacion_complementaria.xlsx. Cierre el archivo o actualice la ruta en el Query 00, dbVenta.RutaImportacion().'
		raiserror(@error, 16, 1);
	END CATCH
	------------------------------------------------
	set nocount off
	INSERT INTO dbVenta.MetodoDePago(nombre,estado)
	SELECT nombreENG,1
	FROM #metodoDePagoTemp t
	WHERE NOT EXISTS(
		SELECT 1
		FROM dbVenta.MetodoDePago m
		WHERE m.nombre=t.nombreENG
	)
	------------------------------------------------
	--SELECT * from #metodoDePagoTemp;
	DROP TABLE #metodoDePagoTemp;
END
go
-------------------------------------
--Obtener archivo de productos importados

create or alter PROCEDURE dbProducto.CargaMasivaProductosImportados
	@rutaArchivo VARCHAR(max)
AS
BEGIN
	BEGIN TRY
		set nocount on
		drop table if exists #productosImportadosTemp
		CREATE TABLE #productosImportadosTemp(
			id int PRIMARY KEY, 
			name varchar(100),
			proveedor varchar(50),
			categoria varchar(50),
			cantidadPorUnidad varchar(20),
			precioPorUnidad decimal(6,2)
		);
		DECLARE @sql NVARCHAR(MAX)='
			INSERT INTO #productosImportadosTemp
			SELECT *
			FROM OPENROWSET(
			''Microsoft.ACE.OLEDB.12.0'',
			''Excel 12.0 Xml;HDR=YES;Database='+ @rutaArchivo +'\Productos\Productos_importados.xlsx'',
			''SELECT * FROM [Listado de Productos$]''
		)'
		exec sp_executesql @sql;
	END TRY

	BEGIN CATCH
		DECLARE @error NVARCHAR(MAX) = 'Ocurrió un error al importar el archivo ' + @rutaArchivo + '\Productos\Productos_importados.xlsx. Cierre el archivo o actualice la ruta en el Query 00, dbVenta.RutaImportacion().'
		raiserror(@error, 16, 1);	
	END CATCH
	-----------------------------
	set nocount off
	DECLARE @IDImportados INT
	SELECT @IDImportados=IDLineaDeProducto FROM dbProducto.LineaDeProducto WHERE nombre='Importado'
	--print @IDImportados

	INSERT INTO dbProducto.Categoria(nombre,FKLineaDeProducto,estado)
	SELECT DISTINCT i.categoria,@IDImportados,1
	FROM #productosImportadosTemp i
	WHERE NOT EXISTS (
		SELECT 1
		FROM dbProducto.Categoria c
		WHERE c.nombre = i.categoria
	)

	INSERT INTO dbProducto.Producto(nombre, precioUnitario,unidadReferencia, fechaCreacion, FKCategoria, estado)
	SELECT 
		i.name,
		i.precioPorUnidad,
		i.cantidadPorUnidad,
		GETDATE(),
		c.IDCategoria,
		1                      
	FROM #productosImportadosTemp i
	JOIN dbProducto.Categoria c
		ON i.categoria = c.nombre  
	WHERE NOT EXISTS (
		SELECT 1 
		FROM dbProducto.Producto p 
		WHERE p.nombre = i.name    
	);
	-----------------------------
	--SELECT * FROM #productosImportadosTemp
	DROP table #productosImportadosTemp
END
--------------------------------------------------------------
-- Obtener archivo de accesorios electrónicos
GO
CREATE OR ALTER PROCEDURE dbProducto.cargaAccesoriosElectronicos
	@rutaArchivo VARCHAR(max)
AS
BEGIN
	BEGIN TRY
		set nocount on
		DROP TABLE if exists #accesoriosElectronicosTemp;
		CREATE TABLE #accesoriosElectronicosTemp (
		    id INT IDENTITY(1,1) PRIMARY KEY, 
		    producto VARCHAR(100),
			precio_unitario_dolares DECIMAL(10,2)
		);
		DECLARE @sql NVARCHAR(MAX) = '
			INSERT INTO #accesoriosElectronicosTemp (producto, precio_unitario_dolares)
			SELECT *
			FROM OPENROWSET(
				''Microsoft.ACE.OLEDB.12.0'',
				''Excel 12.0 Xml;Database=' + @rutaArchivo + '\Productos\Electronic accessories.xlsx;HDR=YES;IMEX=1'',
				''SELECT * FROM [sheet1$]''
			)'
		EXEC sp_executesql @sql;

	END TRY
	BEGIN CATCH
		DECLARE @error NVARCHAR(MAX) = 'Ocurrió un error al importar el archivo ' + @rutaArchivo + '\Productos\Electronic accessories.xlsx. Cierre el archivo o actualice la ruta en el Query 00, dbVenta.RutaImportacion().'
		raiserror(@error, 16, 1);	
	END CATCH

	DECLARE @tasaCambio REAL;
	EXEC dbProducto.APIDolarAPeso @tasaCambio OUTPUT;
	--print @tasaCambio
	update #accesoriosElectronicosTemp
	set precio_unitario_dolares=precio_unitario_dolares*@tasaCambio


	-----------------------------
	set nocount off

	DECLARE @IDTecnologicos INT
	SELECT @IDTecnologicos=IDCategoria FROM dbProducto.Categoria WHERE nombre='Electrónicos'

	INSERT INTO dbProducto.Producto(nombre, precioUnitario,unidadReferencia, fechaCreacion, FKCategoria, estado)
	SELECT e.producto,e.precio_unitario_dolares,'1 unidad',GETDATE(),@IDTecnologicos,1                   
	FROM #accesoriosElectronicosTemp e
	WHERE NOT EXISTS (
		SELECT 1 
		FROM dbProducto.Producto p 
		WHERE p.nombre = e.producto
	);
	-----------------------------

	--SELECT * FROM #accesoriosElectronicosTemp;
	DROP TABLE #accesoriosElectronicosTemp;
END
go
--------------------------------------------------------------
--CATALOGO IMPORTACION 
CREATE OR ALTER PROCEDURE dbProducto.CargaMasivaCatalogo
	@rutaArchivo VARCHAR(max)
AS
BEGIN
	set nocount on
	drop table if exists #ProductoDeCatalogoTemp
	CREATE TABLE #ProductoDeCatalogoTemp (
		id INT PRIMARY KEY, --no mandar identity o sino los que tiene ID desordenados en el archivo original quedan mal
		category nVARCHAR(100),
		name VARCHAR(100),
		price DECIMAL(10,2),
		reference_price DECIMAL(10,2),
		reference_unit VARCHAR(20),
		date SMALLDATETIME
	);
	BEGIN TRY
		DECLARE @sql NVARCHAR(MAX) = 'BULK INSERT Com2900G06.#ProductoDeCatalogoTemp
		FROM ''' + @rutaArchivo + '\Productos\catalogo.csv''
		WITH
		(
			FORMAT = ''CSV'',
			FIELDTERMINATOR = '','',
			ROWTERMINATOR = ''0x0a'',
			FIRSTROW = 2,
			FIELDQUOTE = ''"'',
			CODEPAGE = ''65001''
		);'
		EXEC sp_executesql @sql;
	END TRY
	BEGIN CATCH
		DECLARE @error NVARCHAR(MAX) = 'Ocurrió un error al importar el archivo ' + @rutaArchivo + '\Productos\catalogo.csv. Cierre el archivo o actualice la ruta en el Query 00, dbVenta.RutaImportacion().'
		raiserror(@error, 16, 1);
	END CATCH

	UPDATE #ProductoDeCatalogoTemp
	SET name = REPLACE(name,N'単', 'ñ')	
	WHERE name LIKE N'%単%';

	UPDATE #ProductoDeCatalogoTemp
	SET name = REPLACE(name, N'Â³', 'ó')
	WHERE name LIKE N'%Â³%';

	UPDATE #ProductoDeCatalogoTemp
	SET name = REPLACE(name, N'Ãº', 'ú')
	WHERE name LIKE N'%Ãº%';
	-----------------------------
	set nocount off;
	WITH Catalogo_Sin_Duplicados AS (	--Hay repetidos, me fijo de quedarme solo la primera aparicion
		SELECT *,
           ROW_NUMBER() OVER (PARTITION BY name ORDER BY id) AS numero_apariciones
		FROM #ProductoDeCatalogoTemp
	)
	INSERT INTO dbProducto.Producto(nombre, precioUnitario,unidadReferencia, fechaCreacion, FKCategoria, estado)
	SELECT 
		pc.name,
		pc.price,
		pc.reference_unit,
		GETDATE(),
		c.IDCategoria,
		1                      
	FROM Catalogo_Sin_Duplicados pc
	JOIN dbProducto.Categoria c
		ON pc.category = c.nombre  
	WHERE NOT EXISTS (
		SELECT 1 
		FROM dbProducto.Producto p 
		WHERE p.nombre = pc.name    
	) AND numero_apariciones=1;
	-----------------------------
	
	--SELECT * FROM #ProductoDeCatalogoTemp
	DROP table #ProductoDeCatalogoTemp
END
go
--------------------------------------------
--VENTAS REGISTRADAS IMPORTACION

CREATE OR ALTER PROCEDURE dbVenta.CargaMasivaVentas
	@rutaArchivo VARCHAR(max)
AS
BEGIN
	set nocount on
	drop table if exists #ventasRegistradasTemp
	CREATE TABLE #ventasRegistradasTemp (
		--ID INT IDENTITY(1,1) PRIMARY KEY,
		numeroFactura CHAR(12) PRIMARY KEY,
		tipoFactura CHAR(1),
		Ciudad VARCHAR(15),
		tipoCliente CHAR(6),
		genero CHAR(6),
		producto VARCHAR(100),
		precioUnitario DECIMAL(10,2),
		cantidad INT,
		fecha DATE,
		hora TIME,
		medioDePago CHAR(11),
		empleado INT,
		identificadorDePago VARCHAR(30)
	);
	BEGIN TRY
		DECLARE @sql NVARCHAR(MAX) = 'BULK INSERT Com2900G06.#ventasRegistradasTemp
		FROM ''' + dbVenta.RutaImportacion() + '\Ventas_registradas.csv''
		WITH
		(
			FIELDTERMINATOR = '';'',
			ROWTERMINATOR = ''\n'',
			FIRSTROW = 2,
			CODEPAGE = ''65001''
		)'
		EXEC sp_executesql @sql;
	END TRY
	BEGIN CATCH
		DECLARE @error NVARCHAR(MAX) = 'Ocurrió un error al importar el archivo ' + dbVenta.RutaImportacion() + '\Ventas_registradas.csv. Cierre el archivo o actualice la ruta en el Query 00, dbVenta.RutaImportacion().'
		raiserror(@error, 16, 1);
	END CATCH

	UPDATE #ventasRegistradasTemp
	SET producto = REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
		producto, N'ÃƒÂº', 'ú'),        -- Reemplaza ÃƒÂº por ú
		N'Ãƒº', 'ú'),                -- Reemplaza Ãƒº por ú
		N'Ã¡', 'á'),                 -- Reemplaza Ã¡ por á
		N'Ã©', 'é'),                 -- Reemplaza Ã© por é
		N'Ã­', 'í'),                 -- Reemplaza Ã­ por í
		N'Ã³', 'ó'),                 -- Reemplaza Ã³ por ó
		N'Ãº', 'ú'),                 -- Reemplaza Ãº por ú
		N'Ã±', 'ñ'),                 -- Reemplaza Ã± por ñ
		N'Âº', 'º'),                 -- Reemplaza Âº por º
		N'Ã‘', 'Ñ'),                 -- Reemplaza Ã‘ por Ñ
		N'Ã‰', 'É'),                 -- Reemplaza Ã‰ por É
		N'Ã“', 'Ó'),                 -- Reemplaza Ã“ por Ó
		N'Ãš', 'Ú'),                 -- Reemplaza Ãš por Ú
		N'Ã', 'Á'),                 -- Reemplaza Ã por Á
		N'å˜','ñ')                 -- Reemplaza caracteres raros por ñ
	WHERE producto LIKE N'%Ã¡%' OR
		  producto LIKE N'%Ã©%' OR
		  producto LIKE N'%Ã­%' OR 
		  producto LIKE N'%Ã³%' OR
		  producto LIKE N'%Ãº%' OR
		  producto LIKE N'%Ã±%' OR
		  producto LIKE N'%Âº%' OR
		  producto LIKE N'%ÃƒÂº%' OR
		  producto LIKE N'%Ãƒº%' OR
		  producto LIKE N'%Ã‘%' OR
		  producto LIKE N'%Ã%' OR
		  producto LIKE N'%Ã‰%' OR
		  producto LIKE N'%Ã“%' OR
		  producto LIKE N'%Ãš%' OR
		  producto LIKE N'%å˜%';

	
	------------------------------------------------
	set nocount off;
	UPDATE #ventasRegistradasTemp
	SET identificadorDePago=(
	CASE
		--Si comienza con ' y 22 dÃ­gitos, saco el primer carÃ¡cter (')
		WHEN LEN(identificadorDePago) = 23 
		AND identificadorDePago LIKE '''[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'
			THEN REPLACE(identificadorDePago, '''', '')
		--Si son '--' reemplazo por NULL
		WHEN identificadorDePago='--'
			THEN NULL
		ELSE identificadorDePago
	END),
	numeroFactura=REPLACE(numeroFactura, '-', '')
	select * from #ventasRegistradasTemp

	INSERT dbFactura.Factura(numeroFactura)		--inserto los numeros de factura nada mas
	SELECT DISTINCT numeroFactura 
	FROM #ventasRegistradasTemp v
	WHERE NOT EXISTS(
		SELECT 1
		FROM dbFactura.Factura f
		WHERE v.numeroFactura=f.numeroFactura
	)

	--inserto los detalles
	INSERT dbFactura.DetalleDeFactura(cantidad,subtotal,precioUnitarioAlMomento,FKProducto,FKFactura)
	SELECT 
		v.cantidad,
		v.cantidad*p.precioUnitario,
		v.precioUnitario,
		p.IDProducto,
		f.IDFactura
	FROM #ventasRegistradasTemp v
	JOIN dbProducto.Producto p
		ON v.producto=p.nombre
	JOIN dbFactura.Factura f
		ON v.numeroFactura=f.numeroFactura
	
	--actualizo los totales
	UPDATE f
	SET 
		f.total = detalles.totalFactura,
		f.fechaHoraEmision=datosFactura.fechaHoraEmision,
		f.fechaHoraPago=datosFactura.fechaHoraEmision,	--esta bien???
		f.tipoFactura=datosFactura.tipoFactura
	FROM dbFactura.Factura f
	JOIN (
		-- Agrupo por factura y calculo los totales
		SELECT 
			d.FKFactura, 
			SUM(d.subtotal) AS totalFactura
		FROM dbFactura.DetalleDeFactura d
		GROUP BY d.FKFactura
	) AS detalles 
		ON f.IDFactura = detalles.FKFactura
	JOIN (
    -- Agarro el resto de datos
		SELECT
			v.numeroFactura,
			v.tipoFactura,
			v.fecha AS fechaHoraEmision
		FROM #ventasRegistradasTemp v
	) datosFactura 
		ON f.numeroFactura = datosFactura.numeroFactura;

	INSERT dbVenta.Venta(tipoCliente, genero, fechaVenta, horaVenta, identificadorDePago, FKempleado, FKMetodoDePago, FKSucursal, FKFactura)
	SELECT
		v.tipoCliente,
		v.genero,
		MIN(v.fecha),              
		MIN(v.hora),
		v.identificadorDePago,
		e.Legajo,
		m.IDMetodoDePago,
		s.IDSucursal,
		f.IDFactura
	FROM #ventasRegistradasTemp v
	JOIN dbSucursal.Empleado e
		ON v.empleado = e.Legajo
	JOIN dbVenta.MetodoDePago m
		ON v.medioDePago = m.nombre
	JOIN dbSucursal.Sucursal s
		ON s.IDSucursal = e.FKSucursal
	JOIN dbFactura.Factura f
		ON v.numeroFactura = f.numeroFactura
	GROUP BY 
		v.numeroFactura,         --Agrupo por número de factura para no insertar duplicado
		v.tipoCliente,
		v.genero,
		v.identificadorDePago,
		e.Legajo,
		m.IDMetodoDePago,
		s.IDSucursal,
		f.IDFactura;

	------------------------------------------------
	--SELECT * FROM #ventasRegistradasTemp
	DROP table #ventasRegistradasTemp
END
go
----------------------------------------
set nocount on;

